html {
	font-size: 16px;
	font-family: monospace;
}

body {
	--background: #002B36;
	background-color: var(--background);
	color: #eee;
	font-size: 0.75rem;
	margin: 0 auto;
	max-width: 75rem;
}

#boxes {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem;
}

#boxes .box {
	flex: 2;
	min-width: 75rem;
}

#boxes .half-box {
	flex: 1;
	min-width: 32.5rem;
}

#boxes .box, #boxes .half-box {
	border: thin solid #FFFFFF10;
	padding: 0.25rem;
}

.circle {
	border-radius: 50%;
	background: conic-gradient(var(--fgColor) calc(calc(var(--progress) / 100) * 360deg), var(--bgColor) calc(calc(var(--progress) / 100) * 360deg));
	display: inline-block;
	height: var(--size);
	position: relative;
	user-select: none;
	width: var(--size);
}

.circle > .circle-inner {
	--padding: calc(var(--size)/10);
	border-radius: 50%;
	background: var(--background);
	bottom: var(--padding);
	box-sizing: border-box;
	display: grid;
	font-size: max(0.5625rem, calc(var(--size)/9));
	justify-content: center;
	justify-items: center;
	left: var(--padding);
	place-content: center;
	position: absolute;
	right: var(--padding);
	top: var(--padding);
}

.circle > .circle-legend {
	position: absolute;
	font-size: min(0.875rem, calc(var(--size)/4));
}

bar {
	display: block;
	padding: 0.125rem;
}

.bar {
	--padding: calc(0.125*var(--size)/3);
	background-color: var(--bgColor);
	font-size: calc(0.125*var(--size));
	height: calc(0.125*var(--size));
	line-height: calc(0.125*var(--size));
	padding: var(--padding);
	position: relative;
	text-align: right;
	user-select: none;
}

.bar > .bar-inner {
	align-items: center;
	background-color: var(--fgColor);
	bottom: 0;
	display: flex;
	left: 0;
	position: absolute;
	text-align: left;
	top: 0;
	width: var(--progress);
}

.bar > .bar-legend {
	left: var(--padding);
	position: absolute;
	z-index: 1;
}

.bar > .bar-label {
	position: absolute;
	right: var(--padding);
	z-index: 1;
}

.cpu-cores {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.cpu-cores bar {
	flex: 50%;
}