html {
	font-size: 16px;
	font-family: monospace;
}

body {
	--background: #002B36;
	background-color: var(--background);
	color: #eee;
	font-size: 0.75rem;
	margin: 0 auto;
	max-width: 75rem;
}

#header {
	align-items: center;
	display: flex;
	column-gap: 0.5rem;
}

#header h1 {
	font-size: 1.5rem;
}

.loading-spinner {
	content: ' ';
	display: none;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: .125rem solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: loading-spinner-rotation 0.6s linear infinite;
}

@keyframes loading-spinner-rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#boxes {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem;
}

#boxes .box {
	flex: 2;
}

#boxes .half-box {
	flex: 1;
}

#boxes .box, #boxes .half-box {
	border: thin solid #FFFFFF10;
	min-width: 32.5rem;
	padding: 0.25rem;
	position: relative;
}

#boxes .box-title {
	background-color: var(--background);
	color: #FFFFFF40;
	font-size: 0.5rem;
	left: 0.25rem;
	padding: 0 0.25rem;
	position: absolute;
	top: -0.25rem;
	user-select: none;
}

.circle {
	border-radius: 50%;
	background: conic-gradient(var(--fgColor) calc(calc(var(--progress) / 100) * 360deg), var(--bgColor) calc(calc(var(--progress) / 100) * 360deg));
	display: inline-block;
	height: var(--size);
	position: relative;
	user-select: none;
	width: var(--size);
}

.circle > .circle-inner {
	--padding: calc(var(--size)/10);
	border-radius: 50%;
	background: var(--background);
	bottom: var(--padding);
	box-sizing: border-box;
	display: grid;
	font-size: max(0.5625rem, calc(var(--size)/9));
	justify-content: center;
	justify-items: center;
	left: var(--padding);
	place-content: center;
	position: absolute;
	right: var(--padding);
	top: var(--padding);
}

.circle > .circle-legend {
	font-size: min(0.875rem, calc(var(--size)/4));
	left: 0;
	max-width: var(--size);
	overflow: hidden;
	position: absolute;
	text-overflow: ellipsis;
	top: 0;
	white-space: nowrap;
}

bar {
	display: block;
	padding: 0.125rem;
}

.bar {
	--padding: calc(0.125*var(--size)/3);
	background-color: var(--bgColor);
	font-size: calc(0.125*var(--size));
	height: calc(0.125*var(--size));
	line-height: calc(0.125*var(--size));
	padding: var(--padding);
	position: relative;
	text-align: right;
	user-select: none;
}

.bar > .bar-inner {
	align-items: center;
	background-color: var(--fgColor);
	bottom: 0;
	display: flex;
	left: 0;
	position: absolute;
	text-align: left;
	top: 0;
	width: var(--progress);
}

.bar > .bar-legend {
	left: var(--padding);
	position: absolute;
	z-index: 1;
}

.bar > .bar-label {
	position: absolute;
	right: var(--padding);
	z-index: 1;
}

.cpu-cores {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.cpu-cores bar {
	flex: 50%;
}

.temps {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
	justify-content: center;
}

.temps > div {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-right: 0.5rem;
}

.temps > div > span {
	font-weight: bold;
	padding-bottom: 0.5rem;
}

.temps > div > .temp-sensors {
	display: flex;
	column-gap: 0.25rem;
	flex-wrap: wrap;
}

.diskusage {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
	justify-content: center;
}

.system {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#footer {
	color: #FFFFFF40;
	font-size: 0.625rem;
	padding: 0.5rem 0;
	text-align: right;
}

#footer a {
	color: #FFFFFF40;
}

@media (max-width: 1040px) {
	html {
		margin: 0.125rem;
	}

	#boxes .box, #boxes .half-box {
		min-width: 100%;
		padding: 0.25rem 0;
	}
}